[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
keyboard = "*"
odrive = "*"
adafruit-circuitpython-bno055 = "*"

[dev-packages]

[requires]
python_version = "3.9"
