[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
keyboard = "*"
odrive = "*"
adafruit-circuitpython-bno055 = "*"
flask-socketio = "*"
flask-cors = "*"
eventlet = "*"
flask = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
